name: ci

on: push

jobs:
  ci:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [22]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set Up Bun
        uses: oven-sh/setup-bun@v2

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: bun

      - name: Install dependencies
        run: bun install

      - name: Post Install
        run: bun run postinstall

      - name: Lint
        run: bun run lint

      - name: Typecheck
        run: bun run typecheck
